useDynLib(Runuran)

import("methods")

exportClass(unuran)
exportClass(unuran.distr)
exportClass(unuran.discr)
exportClass(unuran.cont)
exportClass(unuran.cmv)

exportMethods(r)
exportMethods(initialize)
exportMethods(print)
exportMethods(show)
exportMethods(unuran.packed, "unuran.packed<-")

export(unuran.cont)
export(unuran.cmv)
export(unuran.discr)

export(unuran.new)
export(unuran.sample)
export(unuran.details)

exportPattern("\\.new$")
exportPattern("^ur")
exportPattern("^uq")
