useDynLib(Runuran)

import("methods")

exportClass(unuran)
exportClass(unuran.distr)
exportClass(unuran.discr)
exportClass(unuran.cont)
exportClass(unuran.cmv)

exportMethods(initialize)
exportMethods(print)
exportMethods(show)
exportMethods(unuran.packed, "unuran.packed<-")

export(unuran.new)
export(unuran.sample)
export(unuran.details)
export(unuran.verify.hat)
export(unuran.is.inversion)

exportPattern("\\.new$")
exportPattern("^ur")
exportPattern("^ud")
export(uq,up)
